.layout{
    min-height: 100dvh;
    overflow-x: hidden;
}

#app-header{
    color: #fff;
    min-height: 80px;
    background-color: #001529;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

    .select{
        width: 100%;
        max-width: 250px;

        .ant-select-selection-placeholder{
            color: #000;
        }
    }
}

#app-sidebar{
    color: #fff;
    background-color: #001529;
}

#app-content{
    color: #fff;
    background-color: #001529;
    padding: 1rem;

    h3{
        font-size: clamp(20px, 0.932rem + 1.59vw, 34px);
    }
}